# 统一代码在不同编辑器下的编辑风格。
# 默认都会读取这个文件。
 #  https://EditorConfig.org

root = true#表示当前的配置在根目录里面。

[*]#表示所有文件适用
end_of_line = lf#控制换行类型(lf\cr\crlf)
trim_trailing_whitespace=true#去除行首的任意空白字符。
# insert_final_newline = true#始终在文件末尾插入一个新行

charset = utf-8#设置文件字符集为utf-8

indent_style = space#缩进风格（tab\space)
indent_size = 2 #缩进大小2字符

[*.md]#表示仅md文件适用以下规则
max_line_length=off
trim_trailing_whitespace=false
